@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
    --main-bg-color: #F1FADA;
    --main-header-color: #265073;
    --main-text-color: #2d7a96;
    --main-link-color: #34a9ab;
}

* {
    font-family: "Fredoka", sans-serif;
}

#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -100;
    top:0;
    left:0;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1 {
    background: -webkit-linear-gradient(#265073, #2D9596, #265073);  
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    padding-top: 1rem;
}

h1, h2 {
    font-weight: 600;
    letter-spacing: 1vw;
}

.section--header {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-top: 1rem;
    max-height: 20px;
}

.desc {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 1rem;
    margin: 0 5vw;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.project--item {
    flex: 0 0 calc(45% - 1rem); 
    max-width: calc(45% - 1rem); 
    margin: 1rem; 
    padding: 0.75rem 15vw;
    background-color: var(--main-header-color);
    border-radius: 50px;
    text-align: center;
    box-sizing: border-box; 
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s; /* Added transition properties */
}

.project--item:hover {
    background-color: var(--main-link-color); 
    transform: scale(1.05); 
    cursor: grab;
}

.project--item a {
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 1vw;
    width: 100%;
    color: var(--main-link-color);
}


a, a:visited, a:active {
    text-decoration: none;
    color: var(--main-link-color);
}

.project--item:hover a {
    color: var(--main-text-color);
}

footer {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 1rem;
    margin-top: 5vh;
    background-color: var(--main-header-color);
    width: 100vw;
}

.last {
    max-width: 100%;
}