/* Global Box Sizing */
* {
    box-sizing: border-box;
}

/* Headings */
h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.2em;
}

/* Hero Styling */
#hero {
    max-width: 90%;
    width: 80%;
    margin: 150px auto;
    position: relative;
    z-index: 1; /* Ensure the hero section is above the particles */
    line-height: 2em;
    font-size: 18px;
}

/* Header Container */
.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Style for the form container */
.form-container {
    width: 100%;
    margin: auto;
    padding: 20px;
    border: 1px solid #739072;
    margin-bottom: 2em;
}
  
/* Style for form labels */
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* Style for form input fields */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #739072;
    background-color: transparent;
}

/* Style for submit button */
input[type="submit"] {
    background-color: #739072;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover effect for submit button */
input[type="submit"]:hover {
    background-color: #3A4D39;
}

/* Input Validation Styles */
input:valid {
    border-color: #92bc90;
    border-width: 2px;
}

input:focus {
    outline: none;
    border-color: #739072;
}

/* MEDIA QUERIES */
@media (max-width: 400px) {
    h1 {
        font-size: 2.5rem;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        margin-bottom: 30px;
    }

    #hero, a {
        font-size: 16px;
    }

    .logo {
        left: 10px;
    }
}